<h1>This is your Recipe Box</h1>

<% if @categories.any? %>
  <h3>Select a Category:</h3>
  <ul>
    <% @categories.each do |c| %>
      <li><a href="/category/<%= c.id %>"><%= c.name %></a></li>
    <% end %>
  </ul>
<% end %>
<br>
<h3>OR:</h3>
<br>
<% if @recipes.any? %>
  <h3>Select a Recipe:</h3>
  <ul>
    <% @recipes.each do |r| %>
      <li><a href="/recipe/<%= r.id %>"><%= r.title %></a></li>
    <% end %>
  </ul>
<% end %>

<br><br><br><br>

<h3>Select one of your current recipes:</h3>
